{% load static %}
  <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
  <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script src="{% static 'gtfs_rt/js/helpers.js' %}"></script>

  <button onclick="myFunction()">click me!</button>

  <form action="{% url 'get-train-data' %}" method="get">
    <button type="submit" name="trainbutton1" value="0">get train data</button>
  </form>
  <form action="{% url 'subway' %}" method="get">
    <button type="submit" name="trainbutton2" value="0">get train</button>
  </form>

  <form method="GET">
    {{ form }}
  </form>

  {% comment %} raw data print {% endcomment %}
  {% comment %} <ul>
    {{ data }} {% for station in data.results %}
    <li>{{ station.stop_name }}</li>
    {% endfor %}
  </ul> {% endcomment %}
  {% comment %} raw data print {% endcomment %}

  {% comment %} borough selector {% endcomment %}
{% comment %} 
  <form action="{% url 'get_stops' %}" method="get">
  {% if data %}
  <label for="borough">Choose a borough:</label>
  <select name="borough-selector" required>
    {% for borough in data.boroughs %}
    <option value="{{ borough }}">{{ borough }}</option>
    {% endfor %}
  </select>
  {% endif %} {% endcomment %}
  {% comment %} borough selector {% endcomment %}

  {% comment %} subway stop selector {% endcomment %}
  {% comment %} {% if stations %}
  <label for="stop-name">Choose a stop:</label>
  <select name="stop-selector" id="subway_stops">
    {% for stop in stations %}
    <option value="{{ stop.stop_name }}">{{ stop.stop_name }}</option>
    {% endfor %}
  </select>
  </form>
  {% endif %} {% endcomment %}
  {% comment %} subway stop selector {% endcomment %}